<!-- homepage.ejs | A Welcome page to the Web Application with Links to /entries/list and /entries/add. -->

<br></br>
<center>
  <h1 class="display-2"><center>Save 4 Later</center></h1>
  <p class="h2">A simplistic cross-browser URL archiver</p>
</center>
<a href="/entries/list" class="btn btn-light btn-large btn-block btn-huge">URL List</a>
<a href="/entries/add" class="btn btn-light btn-large btn-block btn-huge">Add</a>
