<!-- signup.ejs | A Welcome page to the Web Application with a signup button. -->
<div class="container">
  <div class="jumbotron">
    <h1><center>URL archive</center></h1>
    <center><h4>A simple cross-browser URL archive</h4></center>
    <br></br>
    <div class="formWrapper" style="position: relative; margin: 0 auto; max-width: 600px;">
      <a href="/user/new" class="btn btn-block btn-success">Sign Up</a>
      <p></p>
      <a href="/session/signin" class="btn btn-block btn-success">Sign In</a>
    </div>
  </div>
</div>
