<!-- signin.ejs file | A form that is used to sign a user into the mongodb database. -->
<div class="formWrapper" style="position: relative; margin: 0 auto; max-width: 600px;">
  <form action="/session/create" method="POST" class="form-signin" data-toggle="validator">
  	<center><h2 class="display-4">Sign In</h2></center>

    <% if(flash && flash.err) { %>
		<ul class="alert alert-success">
	    <% Object.keys(flash.err).forEach(function(error) { %>
		    <li><%- JSON.stringify(flash.err[error]) %></li>
	    <% }) %>
	  </ul>
	  <% } %>

    <div class="form-group">
      <label for="email"></label>
  	  <input type="email" class="form-control" placeholder="email address" name="email" required>
    </div>

    <div class="form-group">
      <label for="password"></label>
      <input type="password" class="form-control" placeholder="password" name="password" id="inputPassword" required>
    </div>

  	<input type="submit" class="btn btn-lg btn-secondary btn-block" value="Sign In"/>
  	<input type="hidden" name="_csrf" value="<%= _csrf %>" />

  </form>
</div>
