body{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

h2 {
    display: inline-block;
}

input[id= search] {
    float: left;
    width: 50%;
}

input[id= addButton] {
    float: right;
    width: 120px;
}

table[id= dataTable] {
    width: 800px;
    height: 100%;
    table-layout: fixed;
}

table td > div {
    table-layout: fixed;
    word-wrap: break-word;
    height: 50px;
    overflow: auto;
    text-align: left;
}

div.scrollable {
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
}

div.docContainer {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 3px;
    padding-left: 3px;
    /*background-color: gray;*/
}

tbody {
    display: block;
    width: 800px;
    height: 350px;
    overflow: auto;
}

thead {
    width: 100%;
    background-color: #f6f6f6;
}

div.formWrapper {
  margin: 0 auto;
  max-width: 600px;
}
