body{
    padding:10px;
    padding-left: 40px;
    padding-right: 40px;
}

h2 {
    display: inline-block;
}

input[id= search] {
    float: left;
    width: 70%;
}

input[id= addButton] {
    float: right;
    width: 120px;
}

table[id= dataTable] {
    width: 800px;
    height: 100%;
    table-layout: fixed;
}

table td > div {
    table-layout: fixed;
    word-wrap: break-word;
    height: 50px;
    overflow: auto;
    text-align: left;
}

tbody {
    display: block;
    width: 800px;
    height: 300px;
    overflow: auto;
}

thead {
    width: 100%;
    background-color: #f6f6f6;
}

.formWrapper {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
}

.scrollable {
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
}

.docContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 1px;
}
